<!-- Default form login -->
<div class="form-wrapper">
  <div class="loginForm">
  <mdb-card>
      <mdb-card-body>
        <!--Title-->
        <mdb-card-title>
          <h4>Login</h4>
        </mdb-card-title>
        <!--Text-->
        <mdb-card-text> 
            <!-- Horizontal material form -->
            <form [formGroup] = "loginForm" (ngSubmit) = "onLogin()">
              <!-- Grid row -->
              <div class="form-group row">
                <div class="col-sm-10">
                  <div class="md-form mt-0">
                    <input mdbInputDirective type="email" class="form-control" formControlName = "email" id="inputEmail3MD" placeholder="Email">
                  </div>
                </div>
              </div>
              
              <div class="form-group row">
                <div class="col-sm-10">
                  <button type="submit" class="btn btn-primary btn-md">Sign in</button>
                </div>
              </div>
              <!-- Grid row -->
            </form>
            <!-- Horizontal material form -->
        </mdb-card-text>
    
      </mdb-card-body>
    </mdb-card>
  </div>
</div>

