// .container:before {
//     height: auto;
//     text-align: center;
// }
.form-wrapper {
    text-align: center;
    margin-top: 150px;
    .loginForm {
        display: inline-block;
        width: 500px;
    } 
}