<div class="weather-details"  >
  <p><b>Wind: 4.1mph</b></p>
  <p><b>Pressure: 1012</b></p>
  <p><b>Humidity: 81%</b></p> 
  <p><b>Min. 33<sup>o</sup>C</b></p>
  <p><b>Max. 40<sup>o</sup>C</b></p>     
</div>


      


