<div class="container">
  <div class="row">
    <div class="col-md-7">            
      <app-weather-info-container></app-weather-info-container>
    </div>
    <!-- <div class="col-md-2"></div> -->
    <div class="col-md-4">
      <app-cities-container></app-cities-container>
    </div>
  </div>
</div>
  