<mdb-navbar SideClass="navbar navbar-expand-lg deep-purple darken-4 navbar-dark ie-nav" [containerInside]="true">
  <mdb-navbar-brand>
      <a class="logo navbar-brand ml-20" href="#"><h2>Weather App</h2></a>
  </mdb-navbar-brand>
  <links>
      <!-- <ul class="navbar-nav mr-auto">
          <li class="nav-item active waves-light" mdbWavesEffect>
              <a class="nav-link">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Features</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Pricing</a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link">Opinions</a>
          </li>
      </ul> -->
      <ul class="navbar-nav ml-auto nav-flex-icons">
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-facebook"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-twitter"></i></a>
          </li>
          <li class="nav-item waves-light" mdbWavesEffect>
              <a class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
      </ul>
  </links>
</mdb-navbar>
<!-- /.Main -->
