<form>
  <h2 class="text-center">Add Your City</h2>
  <div class="md-form form-group mt-5">
    <input mdbInputDirective type="text" class="form-control" id="formGroupExampleInputMD" placeholder="">
    <label for="formGroupExampleInputMD">City Name</label>
    <button type="submit" class="btn btn-primary btn-md">Add City</button>
  </div>
</form>