<!--The content below is only a placeholder and can be replaced.-->
 <app-navbar></app-navbar>
<app-search-city></app-search-city>
<app-page-content></app-page-content>
<!-- <app-login-form></app-login-form> -->
<router-outlet></router-outlet>
