<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Lagos
      <span class="badge badge-danger badge-pill"><i class="fa fa-remove" aria-hidden="true"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Lagos
      <span class="badge badge-danger badge-pill"><i class="fa fa-remove" aria-hidden="true"></i></span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      Lagos
      <span class="badge badge-danger badge-pill"><i class="fa fa-remove" aria-hidden="true"></i></span>
    </li>
  </ul>