/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Raleway');
html, body {
    height:100%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to right top, #1a0a7c, #3c2491, #583da7, #7255bd, #8c6fd3);
    background-repeat: no-repeat;
    font-family: 'Raleway', sans-serif;
}
@media screen and (max-width: 560px) {
    html,body {
      height: auto;
    }
  }