<h1 class="text-center">Los Angeles</h1>
<mdb-card>
  <!--Card content-->
  <mdb-card-body>
    <!--Text-->
    <mdb-card-text> 
      <div class="row">
        <div class="col-6">
          <app-weather-icon></app-weather-icon>
        </div> 
        <div class="col-6 status">
          <app-weather-status></app-weather-status>
        </div>
      </div>
  </mdb-card-text>

  </mdb-card-body>

</mdb-card>
<!-- <div class="row">
  <div class="col-7">
    <app-weather-icon></app-weather-icon>  
  </div>
      
</div> -->



